<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5bc5b21c-aeb0-405b-8781-943bde4e723e" name="TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5bc5b21c-aeb0-405b-8781-943bde4e723efileName">TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
